<div class="footer">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <a class="footer-link" href="https://github.com/rohithreddydepa"
        >Github</a
      >
    </div>
    <div class="col-md-3 col-sm-6">
      <a
        class="footer-link"
        href="https://www.linkedin.com/in/rohith-reddy-depa/"
        >LinkedIn</a
      >
    </div>
    <div class="col-md-3 col-sm-6">
      <a class="footer-link" href="https://www.instagram.com/rohithreddy_depa/"
        >Instagram</a
      >
    </div>
    <div class="col-md-3 col-sm-6">
      <a class="footer-link" href="https://twitter.com/RohithR79453940"
        >Twitter</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="copywrite">© 2022 Abhishek.</p>
    </div>
  </div>
</div>
