<div class="footer">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <a class="footer-link" href="https://github.com/abhishekreddy8604"
        >Github</a
      >
    </div>
    <div class="col-md-3 col-sm-6">
      <a
        class="footer-link"
        href="https://www.linkedin.com/in/abhishek-reddy-326b5719a/"
        >LinkedIn</a
      >
    </div>
    <div class="col-md-3 col-sm-6">
      <a class="footer-link" href="https://www.instagram.com/abhishekreddy8604/"
        >Instagram</a
      >
    </div>
    <div class="col-md-3 col-sm-6">
      <a class="footer-link">Twitter</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="copywrite">© 2022 Abhishek.</p>
    </div>
  </div>
</div>
