<div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img
          class="img-fluid"
          width="100%"
          src="assets\IMG_0531.JPG"
          alt="Abhishek image"
        />
      </div>
      <div class="col-md-7 col-sm-12">
        <p class="discription">
          Currently I am pursuing my undergrade in computer science and
          Engineering from
          <a class="kmit" href="https://gnithyd.ac.in/">
            Guru Nanak Institute of Technology </a
          >. I am an android and web developer familiar with the technologies
          like java, javasrcipt, python, html, css, bootstrap, nodejs, mysql and
          mongodb.<br />
          As an employee I will utilise my knowledge and given opportunity
          effectively for professional growth and to contribute in the best
          possible way for the betterment of the organisation and self
          experience.
        </p>
      </div>
    </div>
  </div>
</div>
