<h1 style="text-align: center; margin-bottom: 2rem">My Skills</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Android</h3>
      Android occupy 80% market share in mobile operating system. So it is
      essential for a programer to learn android development. As an android
      developer I can build android apps in java and integrate it with back end
      servers in a clean and efficient way.<br />I can build complex designs
      using xml and publish on Playstore.
    </div>
    <div class="col-md-6">
      <h3>Web Devolpment</h3>
      Every Business starting from startup's to multi national companies need a
      website to show case there products or services to the customer so bulding
      website should be very essential for companies <br />
      as a full stack Web developer i can build a website from scratch and and
      deploye it on servers like aws or custom server using nodejs and mongodb.
    </div>
  </div>
</div>
