<h1 style="text-align: center; margin-bottom: 2rem">Projects</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Trust Based Agent Learning System for Mobile Computing</h3>
      <br />
      <p>
        The community devoted to the agency theory needs to create practical
        solutions capable of representing users in the virtual societies which
        are emerging as a result of Internet. Cloud Computing has precisely
        succeeded as a model able to bring software solutions to users in a
        practical and transparent manner. To foster the adoption of agent-based
        solutions by the users, this paper describes a model where software
        agents figure as a new Cloud Computing service which would represent
        clients in virtual environments. We discuss the challenges that entail
        the proposal, the technologies necessary for its implementation and
        finally we develop a proof of concept to confirm its viability.
      </p>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
